$trivia-black: #000000;
$trivia-white: #ffffff;
$trivia-dark-purple: #2d0320;
$trivia-russian-violet: #392b58;
$trivia-dark-blue-grey: #645e9d;
$trivia-steel-teal: #6c969d;
$trivia-middle-blue-green: #99d5c9;
$trivia-red: #ff0000;
$trivia-lincoln-green: #195905;
